.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.5rem;

    &__title {
        padding: 2rem;
        text-align: left;
        color: $color-primary-2;
        text-transform: uppercase;
        font-size: $large-font-size;
        font-weight: 600;
    }

    &--devices {
        
    }

    &--history {

    }
}


.table-header {

    background-color: rgba($color-primary-2, 0.8);

    & > * {
        padding: 1rem;
        text-align: center;
        text-transform: uppercase;
        color: $color-white;
        font-weight: 600;
    }

    &--checkbox {
    }

    &--serial_number {

    }

    &--asset_tag {


    }

    &--device_type {


    }

    &--model_name {

    }

    &--action_type {

    }

    &--user_name {

    }

    &--event_date {

    }
}

.table-data {

    & > * {
        padding: 1rem;
        text-align: center;
        text-transform: uppercase;
    }

    & > *:hover {
        cursor: pointer;
    }

    &--checkbox {
    }
    
    &--serial_number {

    }

    &--asset_tag {

    }

    &--device_type {

    }

    &--model_name {

    }

    &--action_type {

    }

    &--user_name {

    }

    &--event_date {

    }
}

.table-data:nth-of-type(2n) {
    background: rgba($color-primary-2, 0.1);
}

.table-data:nth-of-type(2n + 1) {
    background: rgba($color-primary-2, 0.2);
}

@media (max-width: 650px) {
    .table-header {
        & > * {
            display: none;
        }
    }
    
    .table-data {
        & > * {
            display: grid;
            grid-template-columns: min-content auto;

            &::before {
                content: attr(data-cell) ": ";
                font-weight: 700;
                text-transform: capitalize;
            }

            &:first-child {
                padding-top: 1rem;
            }

            &:last-child {
                padding-bottom: 1rem;
            }
        }
    }
}