{% extends "index.html" %} {% block scripts %}
<script defer src="{{ url_for('static', filename='js/dist/assetFormController.js') }}"></script>
{% endblock %} {% block main %}

<div class="returned-device" id="returned-device-id">
    <h1 class="heading-1">Return a device</h1>
    <div class="returned-device__form">
        <form action="/asset/forms/returned_device" class="form form--returned-device" , method="post">
            {# group for choosing asset tag that must exist #}
            <div class="form__group--asset-tag form__group--asset-tag--returned-device">
                <!-- need to check if it is on loan already! -->
                <input type="text" class="form__input form__input--asset-tag" name="asset_tag" placeholder="Asset Tag" autocomplete="off" />
                {# When selected, input value will be the one clicked! #} {# DROPDOWN SUGGESTIONS TODO SET HIDDEN#}
                <div class="form-dropdown form-dropdown--asset-tag hidden-visibility" id="asset_tag_list">
                    <div class="preview preview--asset-tag">
                        {# LIST OF PREVIEWS #} {# TEST #}
                        <!-- <div class="preview--asset-tag" data-id="234920">
                            <h3>GOS/EQ/2301ADL013</h3>
                            <h4>ASUS P1412</h4>
                            <h5>Computer</h5>
                        </div> -->
                        {# TEST END #} {% for device in devices %}
                        <!-- QEURY FOR LOANED DEVICES -->
                        <!-- <div class="preview--asset-tag" data-id="234920">
                            <h3>{{ device['asset_tag'] }}</h3>
                            <h4>Model Name</h4>
                            <h5>Device Type</h5>
                        </div> -->
                        {% endfor %}
                    </div>
                </div>
            </div>

            {# group for user name, maybe force the name of the current loanee TODO #}
            <div class="form__group--user-name form__group--user-name--returned-device"></div>

            <!-- {# group for date #}
            <div class="form__group--event-date-new form__group--event-date-new--returned-device">
                <input name="event_date" class="form__input form__input--event-date-new" placeholder="Date" type="date" />
                <label for="event_date" class="form__label form__label--event-date-new">Date</label>
            </div> -->

            {# comments #}
            <div class="form__group--remarks-new form__group--remarks-new--returned-device">
                <input name="remarks" class="form__input form__input--remarks-new" placeholder="Remarks" type="text" autocomplete="off" />
                <label for="remarks" class="form__label form__label--remarks-new">Remarks</label>
            </div>

            <div class="form__group--submit form__group--submit--returned-device">
                <button class="btn btn--submit btn--returned-pdf">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
