// variables

// main colors

$color-primary-1: #fbe3e8;
$color-primary-2: #5cbdb9;
$color-primary-3: #ebf6f5;
$color-primary-4: #f6dab7;

// DATA COLORS
$color-data-pink: rgb(255, 99, 132);
$color-data-blue: rgb(54, 162, 235);
$color-data-yellow: rgb(255, 205, 86);

$color-white: #fff;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;
$color-black: #000;

$color-red-1: #FF0000;
$color-red-2: #f6bdc0;



// FONT
$default-font-size: 1.6rem;
$small-font-size: 1rem;
$large-font-size: 2.5rem;
$medium-font-size: 2rem;
$onboard-font-size: 1.3rem;

// BORDER RADIUS
$border-radius-small: 3px;
$border-radius-large: 10px;
