.container {
    margin: 3rem;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    border-radius: 7px;
    background-color: $color-primary-2;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.header {
    width: 100%;
    font-size: 2rem;
    background-color: #fff;
    border-bottom: 0.2rem solid $color-primary-2;
    background-size: contain;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 5rem;
    width: auto;
    margin: 1rem;
}

.user-nav {

    // align the navigation. This overrides the align-items: center we specified in the header
    align-self: stretch;

    display: flex;
    align-items: stretch;

    // change background color when the children elements are hovered
    &__devices, &__users, &__history, &__home, &__settings {

        position: relative; // for the dropdown-menu
        
        &-dropdown {
            height: 100%;
            width: 100%;
            padding: 0 2rem;
            height: 100%;
            display: flex;
            align-items: center;
            border: none;
            cursor: pointer;
            text-decoration: none;
            background-color: $color-grey-light-2;

            &:hover {
                background-color: $color-grey-light-4;
            }

            &-menu {
                position: absolute;
                top: 100%;
                right: 0;
                display: none;
                visibility: hidden;
                background-color: $color-white;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                width: auto;
                padding: 5rem 2rem 2rem 2rem;
            }

            &:hover + &-menu,
            &-menu:hover {
                display: grid;
                grid-template-columns: repeat(2, max-content);
                visibility: visible;
                z-index: 1000;
            }
        }  
    }

    &__link {
        display: block;
        color: $color-grey-dark-2;
        text-decoration: none;
        padding: 12px 16px;

        :hover {
            background-color: $color-grey-light-4;
        }
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var($color-grey-dark-3);
        margin-right: 1rem;
    }

    &__text {
        font-size: 2rem;
        color: $color-grey-dark-3;
    }
}

.content {
    padding: 2rem;
    background-color: $color-primary-3;
    min-height: 75vh;
}

.footer {
    background-color: $color-grey-dark-3;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
        text-transform: uppercase;
        color: $color-white;
        font-size: $small-font-size;
    }
}
  